html, body{
	position:absolute;
	top:0;
	left:0;
	margin:0;
}
#main{
        position:absolute;
        width:calc(100% - 4em - 150px);
        top:0;
        left:0;
        margin:1em 2em;
        padding:0;
}
iframe{
        width:90%;
        height:800px;
        margin:0 0 2em 0;
        border:0;
        border:10px solid yellow;
        border-radius:10px;
}
#links{
        position:fixed;
        width:200px;
        height:auto;
        right:1em;
        top:1em;
        margin:0;
}
.link{
        display:block;
        background-color: #ea7fff36;
        padding: 1em 2em;
        margin: 0 0 1em 0;
        border-radius: 5% 25px;
        border: 5px outset #ea7fff;
}

