<style>
	html{
		border:10px inset green;
		background-color:rgba(168, 248, 133, 0.3);
		min-height:calc(100vh - 20px);
	}
</style>

<h1>Gobby index</h1>

<p>
Gobby is a collaborative text editor, that you install on your computer. 
If you share the same LAN (local area network), you can connect either directly to someone else's computer. 
It is also possible to use Gobby with a central server, either through a LAN or the WAN (wider area network, aka the internet).
</p>

<p>
A Gobby server is install on the relearn server.
There are a few lines in the documentation that talk about how to <strong>install</strong> and use it.
</p>

<a href="https://gobby.github.io">https://gobby.github.io/</a>

<br>
<br>
