html{
	border: 10px inset #ff6666;
    	min-height: calc(100vh - 20px);
	background-color: rgba(255,0,0,0.1);
}
body{
	margin:1em;
  	font-size:16px;
  	line-height: 1.3;
}
#welcome{
	max-width: 600px;	
	margin:1em 0;
}
table{
	min-width: 800px;
}
th, td{
	text-align: left;
	padding:0 1em 0 0;
}
hr{
	border:0;
	border-bottom:1px solid;
	margin:2em 0 1em;
}
#footer{
	max-width: 600px;	
}
.info{
	font-size: smaller;
}
